[2010-09-10 19:26] certik opened #1 "add a link to the sources of the webpage"
I.e. this repository. So that people can contribute to the webpage too. Improve the README about how to build the pages (run the ./generate script).

[2010-09-10 19:26] certik opened #2 "Add a logo to the pages"

[2010-09-10 19:56] certik opened #3 "add big "Download Now" button"
Probably also a good idea would be to have a similar side tab that just has a big "Download Now" button to download the latest version.  This should also go on the Main Page. A big problem with many software websites is that they make the actual download link difficult to find.

[2010-09-10 19:57] certik opened #4 "add a screenshots tab"
Another idea would be a tab that shows an example session that demonstrates the sorts of things SymPy can do (like how a Screenshots tab would look like for some GUI software project's homepage).

[2010-09-10 20:26] certik opened #5 "add Support tab"
I think they should be separate.  If someone has a question or has found a bug in SymPy, they don't necessarily want to join development, especially for new users.  The reverse is not necessarily true either—someone who wants to join development doesn't necessarily want to do so just because they have found a bug that they want to fix.

Of course, some of the information could be on both (like the

[2010-10-17 21:23] #1 closed, assigned to nobody

[2010-10-17 21:40] #5 closed, assigned to nobody

[2010-10-17 21:46] #3 closed, assigned to nobody

[2010-10-17 21:51] #2 closed, assigned to nobody

[2010-10-17 21:58] #4 closed, assigned to nobody

[2011-04-30 18:52] asmeurer opened #24 "Improve the Screenshots section"
Right now it is pretty pathetic.  See http://sympy.org/screenshots.html .

[2012-01-10 18:34] goodok opened #42 "Clear html from the validation errors."
Some defects form [XHTML validator's report](http://validator.w3.org/check?uri=http%3A%2F%2Fsympy.org%2Fen%2Findex.html&charset=%28detect+automatically%29&doctype=Inline&group=0)

They a classified as:
1. Do not use `<font size="3">` - use it only in the CSS to do not mix styles and html.  (Easy to fix)
2. Some elements have nonunique IDs.
   This can be harder, 'cause it might be needed to separa

[2012-01-10 18:49] goodok opened #43 "Auto height of right sidebars."
Now right sidebars have foxed height.
But for localization versions, the text differ a littele, so the height must be tuned more or less.

E.g see.
http://s011.radikal.ru/i318/1201/ff/11b6ac9fb307.png

The top right sidebar has a big height.
The second right sidebar has small height.

[2012-01-10 19:55] goodok opened #45 "Add the favicon to the site."
As it is done for the [docs.sympy.org](http://docs.sympy.org/dev/index.html) in [PR #890](https://github.com/sympy/sympy/pull/890) recently.

[2012-11-23 21:08] hickford opened #56 "Add hyperlinks from the features list"
The features list http://sympy.org/en/index.html would be better with hyperlinks to the relevant docs

[2013-03-05 05:58] #45 closed, assigned to nobody

[2013-03-05 06:02] asmeurer opened #58 "Use "fork me" ribbon"
Should we use a ribbon, like https://github.com/blog/273-github-ribbons?  I checked the other major scientific Python packages I could think of, and the only one that uses it was [pandas](http://pandas.pydata.org/).

If you just add one of those templates, it goes behind the green bar. So that will have to be fixed.  Also, what color should we use?  I like how the pandas one is non-intrusive.  We

[2013-05-03 02:27] asmeurer opened #61 "Clean up things typographically"
Suggestions from #60.
- [ ] Change right sidebar to match Gamma's "card" visual style?
- [ ] Change header to match Gamma's (white on green background); current header doesn't look too attractive
- [ ] Perhaps tone down those drop shadows...
- [ ] There is a lot of green on green on green, which is probably a bad idea
- [ ] Make features on homepage link to Gamma/Live examples
- [ ] Have "Screensh

[2013-12-30 21:11] asmeurer opened #69 "Give important parts of the site higher visibility"
Try http://app.eyequant.com/ with sympy.org. The top items should be (in no particular order) the logo, the download link, the live shell, the description (first paragraph on the page), the donate button, and the gamma search box. The download link, donate button, and gamma search box need to be given a higher impact than they currently have.

[2014-05-06 20:25] asmeurer opened #76 "Update configuration for GitHub pages"
I got this email from GitHub

CC @certik

[2014-07-12 00:12] willingc opened #77 "404 errors for Physics example notebooks"
On http://sympy.org/en/features.html in two IPython notebook examples for Physics, the links redirect to a repo that has been moved or changed. For example, the first notebook links to http://nbviewer.ipython.org/github/PythonDynamics/pydy_examples/blob/master/tutorials/beginner.ipynb which causes a 404. Same with the second notebook example.

Unfortunately, https://github.com/PythonDynamics/ has

[2014-07-12 19:46] #77 closed, assigned to nobody

[2015-03-31 22:46] hickford commented on #56
Looks to be fixed http://www.sympy.org/en/features.html

[2015-03-31 22:46] #56 closed

[2016-01-03 22:25] evelynmitchell opened #84 "sympy.org is failing dns"
http://downorjustforme.com/sympy.org 2016-01-03 15:25 UTC +7 shows down.

[2016-01-03 23:35] certik commented on #84
That link shows up for me. I check linode where our name servers are, it seems to be up and running. Last thing to check is if the domain sympy.org still redirects to linode. @asmeurer would you mind checking that?

[2016-01-03 23:35] evelynmitchell commented on #84
This is a linode.com related problem. All 3 of the authoritative name servers are on linode. A free tertiary dns would be helpful.

[2016-01-03 23:37] certik commented on #84
@evelynmitchell thanks. Do you know how to debug this? I.e. if it is some problem of my setup on linode, or if linode itself has some issues with the name servers?

[2016-01-04 01:58] evelynmitchell commented on #84
Linode is having a big denial of service attack. (status.linode.com)  A 3rd dns for sympy.org, pointing to a non-linode, static site, would keep you up, while this is happening.

[2016-01-04 02:01] asmeurer commented on #84
sympy.org works for me here. Perhaps going directly go sympy.github.io is a workaround?

[2016-01-04 03:34] certik commented on #84
Thanks @evelynmitchell, so that explains it. Do you have any recommendation for a dns server that we could use?

[2016-01-04 14:36] evelynmitchell commented on #84
http://www.zoneedit.com/free_dns.html looks like a good fit.
You want free tertiary dns. Linode will continue to be a good choice for primary and seconday.

[2016-01-05 03:13] asmeurer commented on #84
@certik I believe this stuff is all handled by NumFOCUS now, so we'd need to get them to set this up.

[2016-02-02 16:29] argriffing commented on #77
The sympy webpage still links to a 404 PythonDynamics page

[2016-02-02 16:35] asmeurer commented on #77
Can you be more specific where the link is? I don't see any links to PythonDynamics at sympy.org.

[2016-02-02 16:38] argriffing commented on #77
https://github.com/sympy/sympy.github.com/blob/master/templates/features.html#L268

http://nbviewer.ipython.org/urls/raw2.github.com/PythonDynamics/pydy_examples/master/mass_spring_damper/mass_spring_damper.ipynb

[2016-02-02 16:50] asmeurer commented on #77
https://github.com/sympy/sympy.github.com/compare/master...asmeurer:pydy-notebook?expand=1

[2016-03-04 04:52] asmeurer opened #88 "Update NumFOCUS text on the website"
From NumFOCUS:

NumFOCUS

![nfsquare_logo](https://cloud.githubusercontent.com/assets/71486/13518369/e8af919a-e19a-11e5-8445-8f39d53b8073.png)
![numfocus_2c_rgb](https://cloud.githubusercontent.com/assets/71486/13518368/e8af0bb2-e19a-11e5-8e6d-79c2ee5409ba.png)

[2016-03-04 04:56] asmeurer commented on #88
It's also possible to replace our DONATE NOW button with a direct donate widget. If you are interested in working on this let me know and I'll send you instructions (it's a long template, so I don't want to paste it on this issue).

[2016-03-06 00:38] mvnnn commented on #42
@asmeurer i would like to work on this issue.

[2016-03-06 00:45] mvnnn commented on #61
@asmeurer i would like to work on this issue.

[2016-03-06 00:48] mvnnn commented on #43
@asmeurer this issue is open ?

[2016-03-08 07:09] mvnnn commented on #61
@asmeurer i would like to work on this issue.

[2016-03-08 07:09] asmeurer commented on #61
Go for it (no need to ask for permission).

[2016-03-08 07:10] asmeurer commented on #43
I don't see it. If you do let me know and we can reopen this.

[2016-03-08 07:10] #43 closed

[2017-01-24 04:08] anu0012 commented on #69
@asmeurer Can I contribute?

[2017-01-24 18:54] asmeurer commented on #69
Sure. I don't know how reliable the eye tracking site is, but the website could always use improvement.

[2017-01-27 10:38] anu0012 commented on #69
@asmeurer  So basically there is a need of updating the UI of sympy.org. Correct me if I am wrong.

[2017-06-21 18:25] eeshugerman opened #94 "substitution example generates error"
http://www.sympy.org/en/features.html, under 'Core capabilities', the example link for 'Substitution' opens SymPy Gamma and evaluates an expression which gives an error.

[2017-08-24 16:13] nikoskaragiannakis opened #97 "Old SymPy version for SymPy Live Shell"
![sympy](https://user-images.githubusercontent.com/10605673/29676201-4f6620a0-88ef-11e7-9e34-8c597a1ea437.png)

As you can see in the snapshot, I'm checking SymPy 1.1.1 page.
The Live Shell is using SymPy 1.0.

I noticed that after I received an email from a SymPy user who was trying the same example that is shown in the snapshot.

[2017-10-11 21:18] asmeurer opened #99 "Hamburger menu hard to see on mobile"
See the screenshot below. The menu is on the top right, but it's hard to see. I think the hamburger icon is supposed to be white but it isn't showing up. ![img_1281](https://user-images.githubusercontent.com/71486/31467435-94e7f0ce-ae9f-11e7-877a-ec456d20d9a0.PNG)

[2017-10-11 21:19] asmeurer opened #100 "GitHub thinks that support.html is support guidelines for the repository"
GitHub points to support.html when you open an issue in this repo, but it isn't really support guidelines.

[2018-01-04 21:14] certik opened #102 "Use CI to generate the html files, remove them from the repo"
The repository should only hold the sources, and all generated files should be handled by a CI.

[2018-01-04 23:29] bjodah commented on #102
I guess Travis + Aaron's doctr would be a good match. Should the sources be in this repo under another branch, or should there be a separate repo holding the sources (and have the CI job of that repo push to this repo?)

[2018-01-04 23:56] certik commented on #102
I think the master of this repo is what is used for the webpage, isn't it? So I think we should probably create a new repository and just push here, to avoid confusion where PRs should be sent.

[2018-01-05 00:25] asmeurer commented on #102
We could use a different branch (GitHub lets you change the default branch). I also like the idea of having a separate `website` repo.

[2018-01-29 21:53] asmeurer commented on #102
I am working on this. I have created a new `sources` branch, which is the default branch. I am setting up Travis with doctr to build and deploy it to the master branch, which should no longer be pushed to manually.

Currently I have it set so that all files are synced. We might want to update it so that everything is built into a `build` directory and only those files are synced.

[2018-01-29 22:17] certik commented on #102
Thank you Aaron. Much appreciated.

[2018-01-30 19:56] asmeurer commented on #102
Running into some doctr bugs. Should get things going once I get a doctr release out with the fix.

[2018-01-30 23:16] asmeurer commented on #102
OK, I have the deploy working. I had to remove the submodule from the sources directory, meaning you won't be able to properly view the changes on your own system. I hope to get it added back in once I figure out how to make it work properly with doctr.

[2018-02-07 04:31] asmeurer commented on #102
Alright, the `static` submodule is now back in the main `sources` branch.

I added some text to the [README](https://github.com/sympy/sympy.github.com/blob/sources/README.md) on how to update the files and view them. This can be closed now. All existing and new pull requests should be made against the `sources` branch. I'm going to enable branch protection as well, so that people cannot push to `s

[2018-02-07 04:31] #102 closed

[2018-02-23 01:27] asmeurer commented on #100
It's not doing it any more.

[2018-02-23 01:27] #100 closed

[2018-02-23 01:29] asmeurer opened #105 "Support https"
GitHub is apparently supporting https for custom domains now. The enforce checkbox can be checked, although for me it doesn't actually do anything (it still allows http).

For SymPy, https://www.sympy.org/ gives mixed content warnings because of several http resources:

[code]

These should be easy enough to fix. We should also fix the other sites (sympy docs, sympy gamma, and sympy live).

[2018-02-23 01:39] asmeurer commented on #105
SymPy Live and SymPy Gamma aren't served over GitHub pages, so that would be a separate thing to fix (they don't presently work over https at all).

[2018-02-26 01:19] normalhuman opened #107 "Don't link to the abandoned blog"
I notice sympy.org links to http://sympy.blogspot.com/ "Official SymPy blog". The last post there is from 2013. Given that release notices are posted on sympy.org itself, and blogs get little attention in post-Google-Reader era, I think that particular link should be dropped. All it does is make SymPy look more like abandonware.

[2018-02-26 02:39] normalhuman commented on #105
Also, docs.sympy.org loads several stylesheets from live.sympy.org. I don't see why; when the stylesheets get blocked by the browser, the pages look as they normally do.

As far as docs.sympy.org is concerned, the main issue is the outdated MathJax link, besides being http it points to a long-retired CDN. I'll try to correct this when I manage to clone sympy_doc, which turned out to be quite a hea

[2018-02-26 05:15] asmeurer commented on #105
It might be possible to have https on live as well. We need to look into it.

[2018-03-07 22:41] asmeurer commented on #107
Agreed (I still do have access to the blog, by the way).

[2018-03-07 22:49] asmeurer commented on #105
Looking into https for SymPy Live and SymPy Gamma. It looks like Google provides a certificate (https://cloud.google.com/appengine/docs/standard/python/securing-custom-domains-with-ssl), but we have to set up the custom domains.

It looks like live.sympy.org and gamma.sympy.org are not registered in the Google Cloud dashboard. www.sympygamma.com is registered, but it doesn't let me modify it (it s

[2018-03-08 06:59] #107 closed

[2018-06-27 08:49] zbzhen opened #113 "sympy.factor bug"
from sympy import*
var("x")
a = 0.1*0.1*x*x - 1
print factor(a)
# Wrong answer 1.0*(0.01*x - 0.1)*(0.01*x + 0.1).
# Please check it.

[2018-06-27 20:34] asmeurer commented on #113
Please open bugs for SymPy at https://github.com/sympy/sympy/issues

[2018-06-27 20:34] #113 closed

[2018-08-24 20:27] asmeurer commented on #105
OK, now HTTPS works and is required for SymPy Live and SymPy Gamma, and it works for sympy.org (https://github.com/sympy/sympy_gamma/pull/111).

One final problem, is that https://sympy.org gives an invalid cert error (as opposed to https://www.sympy.org). I don't know if it can be fixed.

[2018-08-24 20:28] asmeurer commented on #105
Anyway, I went ahead and checked the "enforce https" box for www.sympy.org.

[2018-08-24 20:45] certik commented on #105
I know how to fix that error in https://sympy.org. I thought I already did. So let me investigate.

[2018-08-24 20:50] certik commented on #105
Ok, so to fix that error, one must make sure to include the 4 IP addresses here: https://help.github.com/articles/troubleshooting-custom-domains/#https-errors, and I have done that some time ago for sympy.org. That fixed the problem that time. However, now the problem is there again. So not sure what is causing it.

[2018-08-24 20:53] certik commented on #105
I removed and re-added the custom domain in github's settings.

This still fails: https://sympy.org. The setting seems to be identical to this: https://theoretical-physics.com/, which works.

[2018-08-24 20:55] asmeurer commented on #105
Maybe the custom domain needs to be sympy.org instead of www.sympy.org?

[2018-08-24 20:56] certik commented on #105
No, the custom domain needs to be www.sympy.org, just like the custom domain is www.theoretical-physics.com.

[2018-08-24 20:57] certik commented on #105
Here is why github recommends to use the www subdomain: https://help.github.com/articles/about-supported-custom-domains/#www-subdomains

[2018-08-24 20:59] asmeurer commented on #105
That page you linked says "It can take up to an hour for your GitHub Pages site to become available over HTTPS after you add and correctly configure your custom domain." So let's wait a bit and see if it works.

[2018-08-24 21:00] certik commented on #105
Ok, I think that is probably it. I can't find any other difference between the configurations.

[2018-08-24 21:27] certik commented on #105
We might need to contact github support. I don't know what is going on. It's supposed to work, and it does for https://theoretical-physics.com/.

[2018-08-24 21:59] isuruf commented on #105
https://www.sympy.org/en/index.html works for me

[2018-08-24 22:00] asmeurer commented on #105
@isuruf the issue is https://sympy.org (without the `www`).

[2018-08-24 22:01] asmeurer commented on #105
Let's wait 24 hours, just in case it is some caching issue, and then contact GitHub support. The probably won't get back to us until Monday anyway.

[2018-08-24 22:11] isuruf commented on #105
From https://help.github.com/articles/setting-up-an-apex-domain-and-www-subdomain/

[2018-08-24 22:11] isuruf commented on #105
Maybe above might help

[2018-08-24 22:15] asmeurer commented on #105
That is how I had it before, with my site asmeurer.com. It was just a URL record to www.asmeurer.com. But with that, www.asmeurer.com was served over https, but https://asmeurer.com just didn't load.

That page does say you can configure www.sympy.org or sympy.org, and the other will redirect to it. So maybe we should try changing the GitHub pages domain to sympy.org?

[2018-08-24 22:17] asmeurer commented on #105
I tried changing the site for my site from www.asmeurer.com to asmeurer.com. The "enforce https" box unchecked and said

Please allow 24 hours for this process to complete. (asmeurer.com)
HTTPS provides a layer of encryption that prevents others from snooping on or tampering with traffic to your site.
When HTTPS is enforced, your site will only be served over HTTPS. Learn more.

(also it broke my

[2018-08-24 22:26] asmeurer commented on #105
Hmm, after changing it back, https://asmeurer.com now works. I don't know if it just happened to get fixed, or if my moving it around triggered the cert being issued.

[2018-08-24 22:35] asmeurer commented on #105
OK, I did the same for sympy, and now it works! https://sympy.org redirects to https://www.sympy.org/en/index.html. I guess the support site was a little ambiguous. You have to reenter the GitHub pages domain, because that is what triggers the cert to be issued. So if you want both www.sympy.org and sympy.org you have to enter them both.

I agree with @certik that we should keep it www.

So I beli

[2018-08-24 22:35] #105 closed

[2018-08-24 22:52] certik commented on #105
@asmeurer I see. I might have done that with https://theoretical-physics.com/ and forgot about it.

[2018-09-26 18:36] faradai2008 opened #119 "sympy.physics.continuum_mechanics.beam wrong results"
I think there is a problem with the Beam module when using a force with an order bigger than 1.
This is an example where R should be 1/3 and remains constant when changing the length of the beam, but unfortunately it's not the case.
I believe it has to do with the formation of the load equation, where the higher order compensation isn't been taken into consideration.

![image](https://user-images.

[2018-09-27 09:52] #119 closed

[2018-12-23 20:12] dangyogi opened #121 "subs gets confused on cyclical substitutions"
(x + y).subs(((x, y), (y, x))) gives 2x, expected y + x (or x + y after simplification).

[2018-12-23 23:07] certik commented on #121
@dangyogi thanks for the report. Please report issues in the sympy repository here: https://github.com/sympy/sympy/issues, not here. I am going to close this one.

Regarding the issue itself, the way `subs` works is that it first substitutes x -> y, so x+y becomes y+y=2*y, and then it substitutes y->x, so 2*y becomes 2*x, as sympy returned.

[2018-12-23 23:07] #121 closed

[2019-01-21 05:09] jashrathod0 commented on #99
Hi. Can I work on this issue?

[2019-01-21 06:53] asmeurer commented on #99
Yes. There is no need to ask.

[2019-07-29 20:50] evan0greenup opened #126 "The Names of Github contributors (via pull request) are not displayed on Name List."
The names of github contributors are not displayed on [Name List](https://docs.sympy.org/dev/aboutus.html#sympy-development-team).

[2019-07-29 22:05] certik commented on #126
@evan0greenup can you be specific? That list is automatically generated from git so it should contain everyone. However, I think it only gets updated when we make a release. So if you contributed recently, but we have not make a release, then your name might not be there.

[2019-07-29 23:52] asmeurer commented on #126
The dev docs are updated from master, but the AUTHORS file itself is only updated manually when someone runs `./bin/authors_update.py`. We do it before a release, but between releases it is only done when someone thinks about it. It (along with `./bin/mailmap_update.py`) requires some manual work to de-duplicate names and emails, which is why it isn't run automatically. If you want to make a PR to

[2019-07-29 23:54] asmeurer commented on #126
There are some thoughts about doing it automatically https://github.com/sympy/sympy-bot/issues/44. There are some open questions about how to do it.

[2019-08-04 11:24] Jaime02 opened #127 "Plot and plot are wrong at geometry demos"
Hello, I was trying to plot a geometric regular polygon looking at this demo:

https://docs.sympy.org/latest/modules/plotting.html#plot-geom

I have found errors importing Plot and plot, in the web site the live demos does not work, please somebody fix them.

[2019-09-27 19:19] certik opened #129 "Packages that use SymPy"
We currently list about 20 packages that use SymPy on the front page. However, GitHub says there are 12,244 packages that use SymPy:

https://github.com/sympy/sympy/network/dependents?package_id=UGFja2FnZS01MjYzNzYzNg%3D%3D

@asmeurer should we add this link to the front page?

[2019-09-27 19:27] certik commented on #129
We can for example write some script (if github exposes this in an API), that returns the first 20 packages based on number of stars. I found some highly starred packages that use SymPy, e.g., https://github.com/microsoft/dowhy.

[2019-09-27 19:28] asmeurer commented on #129
Maybe. There seems to be a lot of junk there, even if you switch from repos to packages. https://github.com/sympy/sympy/network/dependents?dependent_type=PACKAGE&package_id=UGFja2FnZS01MjYzNzYzNg%3D%3D

I think for packages it uses libraries.io. This is the list it gives https://libraries.io/pypi/sympy/dependents

It would be nice if we could get a list that is sorted by some sort of usage statist

[2019-09-27 19:30] asmeurer commented on #129
By the way, I didn't know Microsoft has a package that uses SymPy https://github.com/microsoft/dowhy

[2019-09-27 19:40] asmeurer commented on #129
Maybe I'm missing it, but I don't see a way in the API to access dependent repos (only dependencies). https://developer.github.com/v4/previews/#access-to-a-repositories-dependency-graph

It looks like the libraries.io API has some info on ranking, so we should be able to use that https://libraries.io/api

It would be best if there were just a pre-existing page that showed this, so we don't have to

[2019-11-15 18:30] asmeurer opened #130 "Crowdin for translations"
We should look at https://crowdin.com/ for translations. NumPy is going to use it for their new website. I think they have a free tier for open source projects.

[2019-11-15 19:53] certik commented on #130
Great idea. (The first flag they show is Czech, how did they know?)

[2020-01-03 19:09] YousefSaber opened #132 "couldn't get the fourier transform of a symbolic function"
this is the syntax
[code]

after I type (  fourier_transform(f,t,w)) a single thread of my i5 7th gen CPU reaches 100% of usage and my screen freezes for some time before showing the message ( killed)

while using Octave to get the fourier transform for the same function works fine without any issues

[code]
please fix that

OS : Ubuntu 19.10
Python v3.7.5
sympy v1.5

[2020-01-03 19:17] #132 closed

[2020-01-25 14:18] thomasaarholt commented on #94
I came to report this as well. The [example ](https://www.sympygamma.com/input/?i=%28exp%28x%29+%2F+%281+%2B+exp%282*x%29%29%29.subs%28exp%28x%29%2C+u%29)is listed as
`(exp(x) / (1 + exp(2x))).subs(exp(x), u)`, with the error `can't multiply sequence by non-int of type 'instancemethod'`. When I try running this on my own system, I get a syntax error, since the `2x` should be `2*x`.

[2020-04-12 23:27] shiMusa opened #136 "plot3d_parametric_line error on constant value in one dimension"
using `plot_parametric(1,x,(x,-10,10))` with a constant value in one dimension in 2D works just fine, however in 3d using `plot3d_parametric_line(1,x,x,(x,-10,10))` crashes. Probably because it can't use `set_xlim` via `min` and `max` values since they are the same for a constant...
![image](https://user-images.githubusercontent.com/17574234/79082381-77618b80-7cf3-11ea-838c-7f4d5319f332.png)

[2020-04-12 23:35] #136 closed

[2020-04-12 23:35] shiMusa commented on #136
Sorry, wrong repo. Problem is known already in the right place 0:)

[2020-06-22 15:02] intmeX opened #140 "The series() is beautiful but has something wrong"
## The wrong case is
![sympy](https://user-images.githubusercontent.com/57341820/85302786-2d0f3e80-b4dc-11ea-97f4-fe529f3c7a61.png)

I think the prefix “x” is lacked in the result. But I still has some possibility to make it wrong.
Oh, in any case, the sympy is great. I'm the 100th star!

[2020-06-22 16:35] jksuom commented on #140
Actually, `x` is not lacking, it only comes last before the order term. If you want to get a nice expansion in powers of `x`, use `series(ln(1 + x), x, 0, 10)`.

[2020-06-22 17:35] intmeX commented on #140
OO yes，I ignored it. Thank you~

[2020-06-22 18:16] #140 closed

[2020-06-27 07:09] b-thebest commented on #127
Hello, Can I work on this issue

[2020-08-04 14:02] kripnerl opened #142 "Site not found"
https://www.sympy.org/

returns

There isn't a GitHub Pages site here.

[2020-08-04 15:32] certik commented on #142
Wow, you are right!

@asmeurer I wasn't touching any configuration lately. Did you make any changes?

[2020-08-04 15:33] certik commented on #142
This is our current configuration of this repository:

![Screenshot from 2020-08-04 09-32-55](https://user-images.githubusercontent.com/20568/89313320-93d45b80-d635-11ea-9d4e-51776089439d.png)

I don't see any problem there.

[2020-08-04 15:46] certik commented on #142
I also checked the sympy.org DNS, which points to Linode nameservers, and there `www.sympy.org` points to `sympy.github.io`, and GitHub should serve it correctly.

Could this be a problem at GitHub?

[2020-08-04 15:54] isuruf commented on #142
@certik, shouldn't the branch be `master` instead of `sources`?

[2020-08-04 15:55] certik commented on #142
I don't know -- I can see this repository has both branches.

[2020-08-04 15:57] certik commented on #142
I switched it to master and it seems to work! Good catch.

How did that happen?

[2020-08-04 15:58] Sc0rpi0n101 commented on #142
Yeah, Travis is deploying from the source branch into the master branch.
So, I think it should be the master branch.

[2020-08-04 16:00] isuruf commented on #142
Github previously used `master` as the branch to serve the pages from. We had `sources` as the default branch because that's where contributors have to send changes to. Github recently added a feature to select the branch and it defaulted to the default branch which is `sources`, but the website still worked because there were no new commits in `sources` branch. The PR merged yesterday triggered a

[2020-08-04 16:01] certik commented on #142
@isuruf ah, that explains it. Thank you! Thanks @Sc0rpi0n101 also.

For reference, here is the correct setting:

![Screenshot from 2020-08-04 09-59-39](https://user-images.githubusercontent.com/20568/89316409-4e199200-d639-11ea-9f06-5f9c87eac05f.png)

[2020-08-04 16:01] #142 closed

[2020-08-04 18:23] asmeurer commented on #142
Looks like GitHub messed up their implementation of this feature.

By the way, now that we can serve the pages from any branch, we should make it so that `master` is the default branch with the sources and `gh-pages` is the branch with the served pages. This will be much less confusing to contributors.

[2020-08-04 18:24] asmeurer commented on #142
Or maybe stick with `sources` for the default branch and remove `master` entirely, to avoid confusion from people who expect `master` to be the GitHub pages branch on .github.com repos.

[2020-08-04 18:24] certik commented on #142
First let's move the serving of the pages from `master` to `gh-pages`.

Then we can talk about moving `sources` to `master`.

[2020-08-04 18:44] asmeurer opened #145 "Move from 'master' to 'gh-pages' for GitHub pages"
See #142.

We can't move yet because doctr doesn't support it. See https://github.com/drdoctr/doctr/issues/368.

Once we do, we can un-revert #143 (#144).

[2020-08-04 18:45] asmeurer commented on #145
I fixed all the old PRs that were against `master` to be against `sources`. So once we do this we should be able to delete `master`.

[2020-08-04 19:00] asmeurer commented on #145
OK, it turns out doctr already supports it.

[2020-08-04 19:10] asmeurer commented on #145
OK, the move is done. GitHub pages is now deployed from `gh-pages`, and the sources are still in `sources`. I've deleted the `master` branch.

[2020-08-04 19:10] #145 closed

[2020-08-14 18:48] goanpeca commented on #130
We also use Crowdin for [Spyder](https://crowdin.com/project/spyder) and [JupyterLab](https://crowdin.com/project/jupyterlab)

I would say go for it :-) !

[2020-08-14 19:19] asmeurer commented on #130
I think we just need someone to set it up. We already have the translation infrastructure set up for this repo, so it shouldn't be hard. I think it should be fine to have it automatically commit translations to the repo.

[2020-08-14 19:42] goanpeca commented on #130
Do you have a bot account for this so that PRs are not committed by whoever sets the integration (but the bot) ?

[2020-08-14 20:13] asmeurer commented on #130
Yes, we can use @sympy-bot. Although that raises the question, how are the translators attributed in the repo?

[2020-08-14 20:16] goanpeca commented on #130
The list is on crowdin, maybe we should be copying that information in the repo.... hmmm with a bot :-p

[2020-08-14 20:16] goanpeca commented on #130
@pearu?

[2020-08-30 18:18] comradekingu commented on #130
@asmeurer If you read the terms and conditions you will notice it is not. The plan requires sub-licensing strings into the closed translation memory of Crowdin. For other damning details, see https://github.com/jitsi/jitsi-meet/issues/5056#issuecomment-612239691
Use Weblate instead, which actually _is_ and has a gratis plan for libre software projects :)

[2020-08-30 19:55] asmeurer commented on #130
@comradekingu can you refer to which part of the terms and conditions you are talking about? I don't see it as an issue if crowdin gets a license to use the translations done for the SymPy website, since they would already be liberally licensed. We don't actually have a license file on this repo, but I would say it should be licensed BSD, the same as SymPy itself. So as long as their terms allow u

[2020-08-31 03:01] comradekingu commented on #130
@asmeurer
It is impossible to get any overview with the Crowdin interface, and the context to what string is what, and where it enters the fray is lost. That is the interface you get, with no alternative ones to pick from. This is why translations on Crowdin are not consistent, bar maybe very short ones. It is also much harder to get to the source strings from there. Etc. etc.

It is underhanded t

[2020-08-31 20:58] asmeurer commented on #130
I disagree that crowdin is sublicensing the translations. A person contributing a translation is licensing it under the license for this repo, as well as under the crowdin terms that they agree to when signing up.

I don't particularly care if Crowdin uses the translations for its own ML or whatever. Anyone could take the translations from the website itself or from the sources in this repo and do

[2020-08-31 23:54] comradekingu commented on #130
@asmeurer What alternative is there to using Crowdin if you want to contribute then? It snatches everything that enters the codebase on conditions of incredulity, subject to a court far outside the realms of the common translator.

I don't think translators really know what they are contributing to in that regard, and I can at-least attest to my motivation being that of only helping libre software

[2020-11-19 05:53] leftishness opened #150 "Tutorial uses deprecated code"
I'm attempting to follow this: https://docs.sympy.org/latest/tutorial/calculus.html

I'm using Python 3.8.5 and SymPy 1.6.2 and everything fails.

[2020-11-19 10:51] oscarbenjamin commented on #150
Can you be more specific than "everything fails"?

How are you running the examples?

[2020-11-19 10:53] leftishness commented on #150
``C, including its class ClassRegistry, has been deprecated since SymPy
1.0. It will be last supported in SymPy version 1.0. Use direct
imports from the defining module instead. See
https://github.com/sympy/sympy/issues/9371 for more info.
  SymPyDeprecationWarning(
/home/user/PycharmProjects/pythonProject/venv/lib/python3.8/site-packages/sympy/__init__.py:672: SymPyDeprecationWarning:
importing s

[2020-11-21 01:25] Shenyii opened #151 "calculation error"
It is error when calculate definite integral by python3, such as:  integrate(cos(-0.25 * x * x + x + 0.1), (x, 0, 0.1)).

[2020-12-17 16:40] mfranckie opened #152 "Latex printing exponentiated symbols with superscripts fails"
When defining a symbol which contains a superscript in the name, such as a complex conjugated or adjoint conjugated variable, latex printing the exponent of it does not automatically surround it with parentheses. For example:

from sympy import Symbol
ad = Symbol('a^\\ast')
ad*ad

I do not understand how to fix this, without defining the symbol to always have parentheses.

[2021-01-21 10:17] himanshu007-creator commented on #42
i will like to work on this issue, if it is still not resolved.

[2021-01-21 20:19] asmeurer commented on #42
I believe the above link does real time validation, so any warnings on it should be valid.

[2021-02-22 20:32] IacobusKopiirefuto opened #155 "Actually, it wasn't a bug"
.

[2021-02-22 20:39] #155 closed, assigned to nobody

[2021-03-13 18:59] GoldenMan123 opened #157 "Integration is wrong"
Hello!

Recently I've found that interation of function f = (sqrt(1 + x * sin(x)) - 1) / (exp(x ** 2) - 1) on (0, 1) results in -pi/2 but the correct answer is pi/2. This function is positive on that interval.

Also I can see that sympy.plotting.plot(sympy.diff(sympy.integrate(f))) and sympy.plotting.plot(f) visually differ by a sign.

Wolfram Alpha: https://www.wolframalpha.com/input/?i=integrate

[2021-03-13 19:03] GoldenMan123 commented on #157
SymPy version: 1.7.1

[
![Screenshot from 2021-03-13 22-02-20](https://user-images.githubusercontent.com/7023578/111041134-d2da5300-8447-11eb-83dc-75464a1a467f.png)
](url)

[2021-07-25 11:32] weishanlee opened #161 "Integration is NOT correct!"
![圖片1](https://user-images.githubusercontent.com/44011158/126897533-1aa3c024-1fe0-4923-83ef-eab344d1efe9.jpg)

The answer should be π/12

[2021-07-25 12:54] certik commented on #161
@weishanlee can you please report it here: https://github.com/sympy/sympy? That's the correct place to report this bug.

[2021-08-06 06:32] weishanlee commented on #161
Done it! Sorry about the delay!

[2021-08-12 14:24] wang-zm18 opened #162 "question about columnspace()"
I find the wrong case about Matrix.columnspace(), like the folllowing pictures, could you please tell me how to solve it? Thank you in advance!
![badcase](https://user-images.githubusercontent.com/47704679/129213989-db32d720-59d0-412f-8f62-2fd7d47ad35a.PNG)

[2021-10-25 05:36] dynamicwebpaige opened #163 "Parentheses on the website are ill-formatted."
Tested using Microsoft Edge, on Windows 10; these parentheses seem to be a little too into self-expression. 😊

**Reference**:
https://docs.sympy.org/latest/tutorial/calculus.html

**Screenshot**:
![image](https://user-images.githubusercontent.com/3712347/138639866-2f17429e-0555-4ec5-809c-2b946831b71e.png)

[2021-10-25 10:23] oscarbenjamin commented on #163
I just checked from firefox and the brackets all look fine. I think this is a problem with edge and possibly its support for unicode fonts.

[2022-01-13 19:15] awvwgk opened #166 "Cannot generate pages with jinja2 version 3 and newer"
Running the `generate` script fails for me (commit 2979deac867d5be6a064632af0b051a3de0a5e12). This fails due to jinja2 version `3.*`, but works find with jinja2 version `2.*`.

[code]

<details><summary>environment</summary>

[code]
</summary>

[2022-01-13 21:52] #166 closed, assigned to nobody

[2022-02-09 13:01] sumit-158 commented on #163
@dynamicwebpaige can I work on this?

[2022-02-10 16:36] Ishanned opened #168 "Copyright is not updated"
![Screenshot (69)](https://user-images.githubusercontent.com/91841626/153452902-1fd943a6-a60b-4707-ae99-2507b53a39e1.png)
The copyright is not updated : currently it is `Copyright @2021`, it should be  `Copyright @2022`.

[2022-02-10 16:37] Ishanned commented on #168
I would like to work on it.

[2022-03-23 06:03] RajMukherjee1601 commented on #157
good morning sir ,I can solve this problem can u assign me this problem ??

[2022-03-23 06:25] RajMukherjee1601 commented on #157
Just need to change the value 0 in place of 1 and 1 in place of 0

[2022-03-23 06:26] RajMukherjee1601 commented on #157
![image](https://user-images.githubusercontent.com/87653848/159636835-676b8e75-2a1d-48c1-a7d8-a9cf4b733a78.png)

[2022-03-23 11:42] oscarbenjamin commented on #157
This issue should be opened on the sympy repo. This repo is for the website.

[2022-03-23 11:42] #157 closed, assigned to nobody

[2022-04-05 02:18] Swordcream opened #171 "How do I perform the related operations of complex functions?"
Which part of the official document introduces the operation of complex function (including derivative, integral, series, etc.), thanks.

[2022-05-09 16:17] ivanistheone opened #176 "Browser testing of new JupyterLite-based live shell sympy.org/en/shell.html"
We recently [launched](https://github.com/sympy/sympy.github.com/pull/174) a new version of the [SymPy Live shell](https://www.sympy.org/en/shell.html) on the website and need eveyone's help testing the shell works on various browsers and operating systems (in particular mobile browsers).

Context: this testing will help us iron out any issues before we [move forward](https://docs.google.com/docum

[2022-05-09 16:17] ivanistheone commented on #176
## Edge on iOS WORKS

![Edge on iOS works](https://user-images.githubusercontent.com/163966/167453208-88d14a3e-1685-4c27-92f4-3883084fc320.jpg)

A little slow (30 seconds) but overall works fine.

[2022-05-09 16:20] ivanistheone commented on #176
## Safari, Opera, and Firefox on iOS doesn't work

![iOS browser testing](https://user-images.githubusercontent.com/163966/167453356-1343b325-116e-48ed-a630-b91509e9fdc4.PNG)

Shell hangs `[*]` and sometimes errors are displayed (see https://github.com/jupyterlite/jupyterlite/issues/632 and https://github.com/jupyterlite/jupyterlite/issues/633).

Current guess is that issue is upstream with Pyodid

[2022-05-11 18:20] ivanistheone commented on #176
Device: iPhone 13 with latest iOS

I tried the online shell in both Safari and Chrome and saw the same error:

![Safari on iPhone 13 fails](https://user-images.githubusercontent.com/163966/167919084-58819b3d-8816-4032-886b-1d671e73309a.png) ![Chrme on iPhone 13 fails](https://user-images.githubusercontent.com/163966/167919178-f77349f3-e226-4bb3-b890-8d0086730e68.png)

[2022-05-11 18:22] ivanistheone commented on #176
Chrome on recent Samsung Galaxy (Android) works:

![Chrome on Samsung Galaxy works](https://user-images.githubusercontent.com/163966/167919102-c559a8eb-5049-4fb2-86bb-c53a0167493c.png)

though I noticed some weirdness about the `Instructions` font size.

[2022-05-11 20:26] certik commented on #176
* Apple M1 Max laptop: I tested Firefox and Safari and both browsers work fine.
* iPhone 10: Firefox and Safari: it seems to hang with the `[*]` prompt (it never loads).

[2022-05-11 21:02] asmeurer commented on #176
I see this error in the console every time I load the page
[code]

[2022-05-11 21:28] ivanistheone commented on #176
That's OK. This is a lookup for pre-loaded notebooks that JupyterLab does on startup. Since we're using only the REPL and not the notebooks feature (we have no content), this occurs.

Maybe we could add a `{}` content to avoid generating this error, but it's definitely not on the critical path.

[2022-05-16 07:06] jtpio commented on #176
For reference this could indeed be done by adding some placeholder content to the deployment. For example by adding the following:

[code]

Before https://github.com/sympy/live/blob/86b6acbe1ed5bc2ee10337345c3b97476c5c2dd0/.github/workflows/deploy.yml#L26

[2022-05-16 08:46] jfpuget opened #177 "Don't use import *"
The startup code loaded by default for the SymPy shell has an import * statement. This is very very bad practice and should not be used

[2022-05-16 10:28] oscarbenjamin commented on #177
Why is it bad practice in the particular context of the sympy interactive shell to use a star import?

[2022-05-16 11:42] certik commented on #177
Right, I always thought the `import *` should not be used in Python source files, but it can be used in interactive shells (that is what is was meant for).

[2022-05-16 14:38] asmeurer commented on #177
`import *` is just fine for interactive use. What would you suggest we use instead? If we were to replace it with an explicit import the import would be huge. `sympy` contains over 900 names.

[2022-05-16 16:14] oscarbenjamin commented on #177
I guess you could argue that maybe it isn't necessary to import all 900 of them.

[2022-05-17 16:44] jfpuget commented on #177
If import * is just fine in your shell then I can break it with one line.  Just run this as first command

from math import * # import * is just fine

Then, this example from right pane no longer works:

sin(x).series(x, 0, 7) # one of the examples on the right pane

In general, import * is bad practice (I hope there is no disagreement here). If people see you use it, then they are likely to use i

[2022-05-27 18:28] ivanistheone commented on #176
Update on the iOS problems.

Apparently all errors we saw were due to an upsteam issue in pyodide being broken WASM in iOS 5.4, but it that seems to be [fixed now](https://github.com/pyodide/pyodide/issues/2539#issuecomment-1139915094) in latest iOS 5.5.

I encourage anyone with an iPad/iPhone to try out the links in: https://bit.ly/sympyjstest
EXPECTED: there should be no more errors

If you enco

[2022-05-27 19:29] asmeurer commented on #176
I still have issues where it won't load in the builtin browser of the Twitter app. It loads just fine in the safari app.

I also saw an issue with someone else's android phone where it was impossible to type something without autocorrect changing it. I believe what we were trying to type was something like `primepi(1000)`.

[2022-05-29 12:46] mindey opened #179 "Unexpected plot() behavior: won't in range defined by xlim"
[code]

Produces:
[code]

Which is unexpected. Why plotting `[-10, 10]`, when I ask from `[10, 20]`? Similarly, the `sympy.__version__ '1.10.1'`. Tested on debianLinux local 5.10.0-14-amd64 #1 SMP Debian 5.10.113-1 (2022-04-29) x86_64 GNU/Linux.

[2022-05-29 13:07] oscarbenjamin commented on #179
The `xlim` argument doesn't seem to work at all with the matplotlib backend either.

The usual way to do this is to give the tuple `(x, 10, 20)`:
[code]

[2022-07-26 21:56] ivanistheone commented on #176
Testing report from a friend (received by email).

[2022-07-26 22:34] asmeurer commented on #176
I agree the feedback could be better (IMHO even the notebook itself has this problem). Presumably this is something that should be improved in the upstream jupyterlite.

[2022-07-27 06:41] jtpio commented on #176
Android 4.4 is indeed extremely old and not supported anymore by most mobile applications anyway.

Improved visual feedback while the shell is loading is tracked in https://github.com/jupyterlite/jupyterlite/issues/619.

[2022-10-03 22:03] asmeurer commented on #163
Unfortunately the unicode pretty printing characters won't look good unless you have the right fonts. See https://github.com/sympy/sympy/issues/15700. For now, we should maybe consider removing the Unicode pretty printing from the tutorial.

[2022-10-03 22:03] #163 closed, assigned to nobody

[2022-10-03 22:04] asmeurer commented on #176
What needs to be done to complete the SymPy Live migration? The docs no longer have the extension at all, so I believe all that needs to be done is to redirect live.sympy.org to https://www.sympy.org/en/shell.html, and to shut down the app engine service.

[2022-10-04 03:33] ivanistheone commented on #176
Sorry for being so slow with this.

I just finished dev steps for [PHASE3](https://docs.google.com/document/d/1UOhrxZN789tKqE19_1TH0FiQK7PzisKioOa0LFeN0_k/edit#bookmark=id.dls30zm5s025), so if anyone wants to review and merge https://github.com/sympy/live/pull/13 then we'll be ready to change the DNS for live.sympy.org ([PHASE4](https://docs.google.com/document/d/1UOhrxZN789tKqE19_1TH0FiQK7PzisKio

[2022-10-04 12:58] ivanistheone commented on #176
Okay merged PR#13 and it works: https://www.sympy.org/live/   (this will be the future live.sympy.org)

I'm going to wait to hear from @jtpio about these questions  https://github.com/sympy/live/issues/7#issuecomment-1266934802 about the customization I did on the index.html  before proceed with DNS switchover.

[2022-10-18 14:46] ivanistheone commented on #176
@certik Would you have time in coming days to do the [DNS changes](https://docs.google.com/document/d/1UOhrxZN789tKqE19_1TH0FiQK7PzisKioOa0LFeN0_k/edit#bookmark=id.264kizupxad0)?

I am available tomorrow (Wednesda) and Thursday for "live debugging" in case we need to change anything in the [repo](https://github.com/sympy/live) at the same time.

[2022-10-18 19:23] certik commented on #176
Yes, let's do that.

[2022-10-23 05:50] MyTrueWallet opened #182 "Numerical evaluation of binomial from mpmath seems to be based on the other definition so SymPy's exact and numeric evaluation of binomials is currently inconsistent:"
Numerical evaluation of binomial from mpmath seems to be based on the other definition so SymPy's exact and numeric evaluation of binomials is currently inconsistent:
[code]

_Originally posted by @oscarbenjamin in https://github.com/sympy/sympy/issues/14577#issuecomment-1127015051_

[2022-10-23 05:51] MyTrueWallet commented on #182
g p

[2022-10-23 11:58] ivanistheone commented on #182
Clickable link to see the issue: https://live.sympy.org/?evaluate=b%20%3D%20binomial(-1%2C%20-1%2C%20evaluate%3DFalse)%0Ab%0A%23--%0Ab.doit()%0A%23--%0Ab.evalf()%0A

[2022-11-01 22:21] asmeurer commented on #176
Looks like the DNS change has happened, and live.sympy.org now points to the webassembly version. Can we disable the billing in the App Engine version now? Also, what remains to be done? Should we archive the sympy-live repository?

[2022-11-02 00:00] ivanistheone commented on #176
Yes we "launched" the wasm version (served from github pages) with Certik last week, so we can shut down the GAE project (nothing points to it anymore). I tagged you with that task in the google doc.

I had a few more cleanup tasks planned in [PHASE 5](https://docs.google.com/document/d/1UOhrxZN789tKqE19_1TH0FiQK7PzisKioOa0LFeN0_k/edit#bookmark=id.yrldywupozom) and I hope to get to them later this

[2022-11-02 00:03] asmeurer commented on #176
I have disabled the billing for SymPy Live in the App Engine.

I can also just post the thread directly from the SymPy account if you'd like. Either way, let me know (I control the SymPy Twitter account).

[2022-11-02 00:11] ivanistheone commented on #176
Okay cool. I'll work ont he thread and adding preparing the evaluate=? URLs for each example and let you know when it's ready. I guess it makes more sense to post from the official SymPy account (since I don't have much followers).

Here is the code I wrote last week that takes a string of commands (separated by blank lines) and turns them into a evaluate  query sting

[code]

See this notebook fo

[2022-11-03 23:10] asmeurer commented on #182
Why did you open this issue in this repo? This is the website repo, and only issues with the website should be opened here. If anything, an issue for this should be opened in the mpmath repo, with a reference to the SymPy discussion.

[2022-11-03 23:10] #182 closed

[2022-11-03 23:11] #161 closed, assigned to nobody

[2022-11-03 23:18] asmeurer commented on #151
Please open issues with SymPy in the SymPy issue tracker. This is the issue tracker for the website.

[2022-11-03 23:18] #151 closed, assigned to nobody

[2022-11-03 23:18] #84 closed

[2022-11-03 23:19] #97 closed

[2022-11-03 23:20] asmeurer commented on #171
Questions like this should go to the SymPy mailing list. This is the issue tracker for the SymPy website. To answer your question, all SymPy functions operate on complex numbers by default, so you do not need to do anything to enable complex number support.

[2022-11-03 23:20] #171 closed, assigned to nobody

[2022-11-03 23:21] asmeurer commented on #150
This is the issue tracker for the SymPy website. If you are still seeing this issue with the latest version of SymPy, please open an issue in the SymPy issue tracker.

[2022-11-03 23:21] #150 closed, assigned to nobody

[2022-11-03 23:27] asmeurer commented on #162
Please post questions on the SymPy mailing list. This is the issue tracker for the SymPy website, and should only be used for issues with the website.

To answer your question, the reason the matrix is not being computed as a rank 2 matrix is because the float values 0.6 and 0.9 are not represented exactly as the rational numbers 6/10 and 9/10, so according to the values those floats actually repr

[2022-11-03 23:27] #162 closed, assigned to nobody